/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

tr.kagan0
{
    background-color: #F63700;
}

tr.kagan1
{
    background-color: #FB6900;
}

tr.kagan2
{
    background-color: #007E80;
}

tr.kagan3
{
    background-color: #004853;
}