/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

tr.kagan0
{
    background-color: #DA9694;
}

tr.kagan1
{
    background-color: #E6B8B7;
}

tr.kagan2
{
    background-color: #B8CCE4;
}

tr.kagan3
{
    background-color: #95B3D7;
}