{% extends "layout.html" %}

{% block title %}
    Add Student
{% endblock %}

{% block main %}
    <div class="card border mb-3">
        <div class="card-header">
            <h5>Add a Single Student</h5>
        </div>
    <div class="card-body">
        <form class="row gy-2 gx-3 justify-content-start" action="/add_student" method="post">
            <div class="col-sm-auto">
                <div class="form-group text-start"> 
                    <div class="input-group">
                        <div class="input-group-text">                   
                            <label for="name">Name:</label> 
                        </div>                                     
                            <input autocomplete="off" class="form-control mx-auto w-auto" id="name" name="name" placeholder="Name" type="text" aria-describedby="nameHelpBlock">                        
                    </div>
                    <small id="nameHelpBlock" class="form-text text-muted">Required</small>                       
                </div>
            </div>
            <div class="col-auto">
                <div class="form-group text-start">
                    <div class="input-group">
                        <div class="input-group-text">                  
                        <label for="class">Class:</label>
                        </div>                 
                        <select class="form-control mx-auto w-auto" id="class" name="class" aria-describedby="classHelpBlock">
                            <option disabled selected>Class</option>            
                            {% for class in classes %} 
                                <option>{{ class.class }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <small id="classHelpBlock" class="form-text text-muted">Required</small>                    
                </div>
            </div>
            <div class="col-auto">
                <div class="form-group text-start">
                    <div class="input-group">
                        <div class="input-group-text">              
                        <label for="gender">Gender:</label>
                        </div>                  
                        <select class="form-control mx-auto w-auto" id="gender" name="gender" aria-describedby="genderHelpBlock">
                            <option disabled selected>Gender</option>            
                            {% for gender in genders %} 
                                <option>{{ gender.gender }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <small id="genderHelpBlock" class="form-text text-muted">Optional</small>
                </div>            
            </div>
            <div class="col-auto">
                <div class="form-group text-start">
                    <div class="input-group">
                        <div class="input-group-text">                    
                        <label for="class">Score:</label>
                        </div>                   
                        <input class="form-control mx-auto w-auto" id="score" name="score" placeholder="Score" type="number" aria-describedby="scoreHelpBlock">
                    </div>
                        <small id="scoreHelpBlock" class="form-text text-muted">Optional</small>                             
                </div>
            </div>    
            <div class="flex-row mb-3">       
                <button class="btn btn-primary mx-auto w-auto" type="submit">Add Student</button>
            </div> 
        </form>
    </div>
    </div>
    <div class="card border mb-3">
        <div class="card-header">
            <h5>Add Multiple Students</h5>
            <h6 class="mb-1">Enter student names, placing each student on a new line.</h6>
            <small class="text-muted fst-italic">Add gender and score on the "Classes - Edit" page.</small> 
        </div>    
        <div class="card-body">
            <form action="/add_students" method="post">
                <div class="mb-3">
                    <label for="students" class="form-label">Student Names</label>
                    <textarea autocomplete="off" class="form-control" id="students" name="students" type="text" rows="5"></textarea>
                </div>
                <div class="input-group mb-3">   
                    <div class="input-group-text">
                    <label for="bclass">Class:</label>
                    </div>
                    <select class="form-control mx-auto w-auto" id="bclass" name="bclass">
                        <option disabled selected class="text-muted">Class</option>            
                        {% for class in classes %} 
                            <option>{{ class.class }}</option>
                        {% endfor %}
                    </select>            
                </div> 
                <div>
                    <button class="btn btn-primary mx-auto w-auto" type="submit">Add Students</button>
                </div>           
            </form>
        </div>
    </div>

<script>
    $(document).ready(function(){

        var placeholder_text = "Mo \nLarry \nCurly \nEtc.";

        $("textarea").attr("placeholder", placeholder_text);

        $("textarea").focus(function(){
            $("textarea").attr("placeholder", "");
        });

        $("textarea").blur(function(){
            $("textarea").attr("placeholder", placeholder_text);
        });
    })
</script>
{% endblock %}