{% extends "layout.html" %}

{% block title %}
    Add Student
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h2>Add a Student</h2>
    </div>
    <div class="container-fluid">
        <form class="row gy-2 gx-3 justify-content-center" action="/add_student" method="post">
            <div class="col-auto">
                <div class="input-group">
                    <div class="input-group-text">
                    <label for="name">Name:</label>
                    </div>
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name" placeholder="Name" type="text">   
                </div>
            </div>
            <div class="col-auto">
                <div class="input-group">   
                    <div class="input-group-text">
                    <label for="class">Class:</label>
                    </div>
                    <input class="form-control mx-auto w-auto" id="class" name="class" placeholder="Class" type="text">            
                </div>
            </div>
            <div class="row gy-3">       
                <button class="btn, btn-primary mx-auto w-auto" type="submit">Add Student</button>
            </div> 
        </form>
    </div>
{% endblock %}