{% extends "layout.html" %}

{% block title %}
    Classes
{% endblock %}

{% block main %}
    <div class="d-flex justify-content-start">
        <p>{{ message }}, {{ name }}!</p>
    </div>
    <div class="d-flex">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Class</th>
                <th class="text-start d-none d-sm-table-cell">Subject</th>
                <th class="text-end">Group Test</th>
                <th class="text-end">Make Groups</th>
                <th class="text-end">Edit</th> 
                <th class="text-end">Archive</th>               
            </tr>
        </thead>
        <tbody>
            {% for class in classes %}
                <tr>
                    <td class="text-start">{{ class.class }} ({{ class.count }})</td>
                    <td class="text-start d-none d-sm-table-cell">{{ class.subject }}</td>
                    <td class="text-end">
                        <form action="/grouptest?period={{ class.class }}" method="post">
                            <button class="btn btn-primary" type="submit" id="{{ class.class }}" name="{{ class.class}}">Group Test</button>
                        </form>
                    </td>
                    <td class="text-end">
                        <form action="/group?period={{ class.class }}" method="post">
                            <button class="btn btn-primary" type="submit" id="{{ class.class }}" name="{{ class.class}}">Group</button>
                        </form>
                    </td>
                    <td class="text-end">
                        <form action="/edit?period={{ class.class }}" method="post">
                            <button class="btn btn-primary" type="submit" id="edit{{ class.class }}" name="edit{{ class.class }}">Edit</td>     
                        </form>
                    </td>
                    <td class="text-end">
                        <form action="/archive?period={{ class.class }}" method="post">
                            <button class="btn btn-primary" type="submit" id="archive{{ class.class }}" name="archive{{ class.class }}">Archive</td>     
                        </form>
                    </td>                      
                </tr>
            {% endfor %}
        </tbody>        
    </table>
    </div>
    <div class="mb-4">
        <h2 class="text-start">Add a new class:</h2>
        <div>
        <form action="/add_class" method="post">
            <div class="row">
                <div class="form-group col-auto">
                    <label for="class" hidden>Class</label>
                    <input autocomplete="off" class="form-control" id="class" name="class" placeholder="Class Name" type="text" aria-describedby="classHelpBlock"> 
                    <small id="classHelpBlock" class="form-text text-muted">
                        Your class names must be unique, so consider adding a term or year to the name. <i>(First Hour 2022, for example.)</i></small>  
                </div>
                <div class="col-auto">
                    <label for="subject" hidden>Subject</label>         
                    <input class="form-control" id="subject" name="subject" placeholder="Subject" type="text">  
                </div>   
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">Add Class</button> 
                </div>           
            </div>            
        </form>   
        </div>     
    </div>  
    <div class="d-flex justify-content-start">
        <button href="#archivedClasses" class="btn btn-primary" data-bs-toggle="collapse" aria-expanded="false" aria-controls="archivedClasses">Show Archived Classes</button>
    </div>
    <div id="archivedClasses" class="collapse">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Class</th>
                <th class="text-start d-none d-sm-block">Subject</th>                         
                <th class="text-end">Restore</th>               
            </tr>
        </thead>
        <tbody>
            {% for class in archived %}
                <tr>
                    <td class="text-start">{{ class.class }} ({{ class.count }})</td>
                    <td class="text-start d-none d-sm-block">{{ class.subject }}</td>                    
                    <td class="text-end">
                        <form action="/restore?period={{ class.class }}" method="post">
                            <button class="btn btn-primary" type="submit" id="restore{{ class.class }}" name="restore{{ class.class }}">Restore</td>     
                        </form>
                    </td>                      
                </tr>
            {% endfor %}
        </tbody>        
    </table>
    </div>   
    
{% endblock %}