{% extends "layout.html" %}

{% block title %}
    Group Test
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h2>{{ name }}'s {{ period }}</h2>
    </div>    
    <div>
        <form action="/grouped?period={{ classname }}" class="row justify-content-start" method="post">
            <div class="col-auto">                
                <div class="input-group">
                    <div class="input-group-text">
                        <label for="groupsize">Students Per Group:</label>
                    </div>
                    <input autocomplete="off" class="form-control" id="groupsize" name="groupsize" placeholder="Group Size" type="text">
                </div>                
            </div>            
            <div class="col-auto">               
                <div class="input-group">
                    <div class="input-group-text">
                        <label for="method">Grouping Method</label>
                    </div>
                    <select autocomplete="off" class="form-control" id="method" name="method">
                        <option>Random</option>
                        <option>To Do</option>
                    </select>
                </div>                                             
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="submit">Make Groups</button>
            </div>
        </form>
    </div>
    <div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">ID</th>
                <th class="text-start">Student</th>  
                <th class="text-start">Score</th>                              
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td class="text-start">{{ student.id }}</td>
                    <td class="text-start">{{ student.name }}</td> 
                    <td class="text-start">{{ student.score }}</td>                                       
                </tr>
            {% endfor %}
        </tbody>        
    </table> 
    </div>   
    
{% endblock %}