{% extends "layout.html" %}

{% block title %}
    Group
{% endblock %}

{% block main %}
    <div>
        <h2>{{ name }}'s {{ period }}</h2>
    </div>    
    <div>
        <form action="/randomize?period={{ classname }}" method="post">
            <button class="btn, btn-primary" type="submit" id="randomize" name="randomize">Random</button>
        </form>
        <form action="/gender_homo?period={{ classname }}" method="post">
            <button class="btn, btn-primary" type="submit" id="gender_homogeneous" name="gender_homogeneous">Gender - Homogeneous</button>
        </form>
        <form action="/gender_hetero?period={{ classname }}" method="post">
            <button class="btn, btn-primary" type="submit" id="gender_heterogeneous" name="gender_heterogeneous">Gender - Heterogeneous</button>
        </form>
    </div>
    <div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">ID</th>
                <th class="text-start">Student</th>  
                <th class="text-start">Score</th>                              
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td class="text-start">{{ student.id }}</td>
                    <td class="text-start">{{ student.name }}</td> 
                    <td class="text-start">{{ student.score }}</td>                                       
                </tr>
            {% endfor %}
        </tbody>        
    </table>        
    </div>
{% endblock %}