{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<div class="d-flex justify-content-center">
<form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">            
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            {% if message %}
            <small class="text-danger">{{ message }}</small>
            {% endif %}
        </div>
        <div class="d-flex justify-content-center mb-3">
        <button class="btn btn-primary" type="submit">Log In</button>
        </div>
    </form>  
</div>

    <div class="d-flex justify-content-center">
        <p>New to RandomClassroom? <a href="/register" class="link-primary">Create an account.</a></p>
    </div>
    
{% endblock %}