{% extends "layout.html" %}

{% block title %}
    Group
{% endblock %}

{% block main %}
    <div class="mb-4">
        <h2>{{ name }}'s {{ period }}</h2>
    </div>    
    <div class="row g-3 justify-content-center">
        <div class="col-auto">
            <p>New Groups:</p>
        </div>
        <div class="col-auto">
            <form action="/randomize?period={{ classname }}" method="post">
                <button class="btn btn-primary" type="submit" id="randomize" name="randomize">Random</button>
            </form>
        </div>
        <div class="col-auto">
            <form action="/gender_homo?period={{ classname }}" method="post">
                <button class="btn btn-primary" type="submit" id="gender_homogeneous" name="gender_homogeneous">Gender - Homogeneous</button>
            </form>
        </div>
        <div class="col-auto">
            <form action="/gender_hetero?period={{ classname }}" method="post">
                <button class="btn btn-primary" type="submit" id="gender_heterogeneous" name="gender_heterogeneous">Gender - Heterogeneous</button>
            </form>
        </div>
    </div>
    <div>
    <div>
        {% for group in groups %}
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>                        
                        <th class="text-start">Group {{ loop.index }}</th>                                
                    </tr>
                </thead>
                <tbody>
                    {% for student in group %}
                        <tr>
                            <td class="text-start">{{ student }}</td>                                                                    
                        </tr>
                    {% endfor %}
                </tbody>        
            </table>        
        </div>
        {% endfor %}    
    </div>
{% endblock %}