{% extends "layout.html" %}

{% block title %}
    Group
{% endblock %}

{% block main %}
    <div class="mb-4">
        <h2>{{ name }}'s {{ period }}</h2>
    </div>    
    <div class="row mb-3">
        <div class="col-auto">
            <p>New Groups:</p>
        </div>
        <div class="col-auto">
            <form action="/randomize?period={{ classname }}" method="post">
                <button class="btn btn-primary" type="submit" id="randomize" name="randomize">Random</button>
            </form>
        </div>
        <div class="col-auto">
            <form action="/differentiated?period={{ classname }}" method="post">
                <button class="btn btn-primary" type="submit" id="differentiated" name="differentiated">Differentiated</button>
            </form>
        </div>
        <div class="col-auto">
            <form action="/kagan?period={{ classname }}" method="post">
                <button class="btn btn-primary" type="submit" id="kagan" name="kagan">Kagan</button>
            </form>
        </div>
        <div class="col-auto">
            <form action="/gender_homo?period={{ classname }}" method="post">
                <button class="btn btn-primary" type="submit" id="gender_homogeneous" name="gender_homogeneous">Gender - Homogeneous</button>
            </form>
        </div>
        <div class="col-auto">
            <form action="/gender_hetero?period={{ classname }}" method="post">
                <button class="btn btn-primary" type="submit" id="gender_heterogeneous" name="gender_heterogeneous">Gender - Heterogeneous</button>
            </form>
        </div>
    </div>          
    <div class="d-sm-flex flex-wrap">
        {% for group in groups %}
        <div class="card flex-fill">
            <div class="card-header fw-bold">                
                Group {{ loop.index }}
            </div>
            <ul class="list-group list-group-flush">
                {% for student in group %}
                <li class="list-group-item justify-content-start">{{ student.name }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>     
            
{% endblock %}